In [1]:
import numpy as np
import pandas as pd
from collections import Counter

In [2]:
def euclidean_distance(vec1,vec2):
    return np.sqrt(np.sum(np.square(vec1 - vec2)))

In [3]:
train_data = {'宝贝当家':[45,2,9,'喜剧片'],
              '美人鱼':[21,17,5,'喜剧片'],
              '澳门风云3':[54,9,11,'喜剧片'],
              '功夫熊猫3':[39,0,31,'喜剧片'],
              '谍影重重':[5,2,57,'动作片'],
              '叶问3':[3,2,65,'动作片'],
              '我的特工爷爷':[6,4,21,'动作片'],
              '奔爱':[7,46,4,'爱情片'],
              '夜孔雀':[9,39,8,'爱情片'],
              '代理情人':[9,38,2,'爱情片'],
              '新步步惊心':[8,34,17,'爱情片'],
              '伦敦陷落':[2,3,55,'动作片']
              }

test_data = {'唐人街探案':[23,3,17]}

In [4]:
train_df = pd.DataFrame(train_data).T
train_df.columns = ['搞笑镜头','拥抱镜头','打斗镜头','电影类型']

In [5]:
pd.DataFrame(train_data)

  宝贝当家  美人鱼 澳门风云3 功夫熊猫3 谍影重重  叶问3 我的特工爷爷   奔爱  夜孔雀 代理情人 新步步惊心 伦敦陷落
0   45   21    54    39    5    3      6    7    9    9     8    2
1    2   17     9     0    2    2      4   46   39   38    34    3
2    9    5    11    31   57   65     21    4    8    2    17   55
3  喜剧片  喜剧片   喜剧片   喜剧片  动作片  动作片    动作片  爱情片  爱情片  爱情片   爱情片  动作片

In [6]:
pd.DataFrame(train_data).T

         0   1   2    3
宝贝当家    45   2   9  喜剧片
美人鱼     21  17   5  喜剧片
澳门风云3   54   9  11  喜剧片
功夫熊猫3   39   0  31  喜剧片
谍影重重     5   2  57  动作片
叶问3      3   2  65  动作片
我的特工爷爷   6   4  21  动作片
奔爱       7  46   4  爱情片
夜孔雀      9  39   8  爱情片
代理情人     9  38   2  爱情片
新步步惊心    8  34  17  爱情片
伦敦陷落     2   3  55  动作片

In [7]:
train_df

       搞笑镜头 拥抱镜头 打斗镜头 电影类型
宝贝当家     45    2    9  喜剧片
美人鱼      21   17    5  喜剧片
澳门风云3    54    9   11  喜剧片
功夫熊猫3    39    0   31  喜剧片
谍影重重      5    2   57  动作片
叶问3       3    2   65  动作片
我的特工爷爷    6    4   21  动作片
奔爱        7   46    4  爱情片
夜孔雀       9   39    8  爱情片
代理情人      9   38    2  爱情片
新步步惊心     8   34   17  爱情片
伦敦陷落      2    3   55  动作片

In [10]:
test_data

{'唐人街探案': [23, 3, 17]}

In [8]:
K = 5
movie = '唐人街探案'

In [11]:
np.array(test_data[movie])

array([23,  3, 17])

In [9]:
distance_list = []
for train_X in train_df.values[:,:-1]:
    test_X = np.array(test_data[movie])
    distance_list.append(euclidean_distance(train_X,test_X))

In [13]:
distance_df = pd.DataFrame({"欧式距离":distance_list},index=train_df.index)
result = pd.concat([train_df,distance_df],axis=1).sort_values(by="欧式距离")

In [14]:
result

       搞笑镜头 拥抱镜头 打斗镜头 电影类型       欧式距离
我的特工爷爷    6    4   21  动作片  17.492856
美人鱼      21   17    5  喜剧片  18.547237
功夫熊猫3    39    0   31  喜剧片  21.470911
宝贝当家     45    2    9  喜剧片  23.430749
澳门风云3    54    9   11  喜剧片  32.140317
新步步惊心     8   34   17  爱情片  34.438351
夜孔雀       9   39    8  爱情片  39.661064
代理情人      9   38    2  爱情片  40.570926
伦敦陷落      2    3   55  动作片  43.416587
谍影重重      5    2   57  动作片  43.874822
奔爱        7   46    4  爱情片  47.686476
叶问3       3    2   65  动作片  52.009614

In [15]:
d = Counter(result.head(K)['电影类型'])
print(movie,max(d,key=d.get))

唐人街探案 喜剧片

In [16]:
from collections import Counter
colors = ['red', 'blue', 'red', 'green', 'blue', 'blue']
c = Counter(colors)
print (dict(c))

{'red': 2, 'blue': 3, 'green': 1}

In [17]:
d

Counter({'动作片': 1, '喜剧片': 4})

In [18]:
result.head(K)['电影类型']

我的特工爷爷    动作片
美人鱼       喜剧片
功夫熊猫3     喜剧片
宝贝当家      喜剧片
澳门风云3     喜剧片
Name: 电影类型, dtype: object

In [19]:
max(d)

'喜剧片'

In [20]:
d.most_common(1)

[('喜剧片', 4)]